body {
    background-color : $white;
    color            : $black;
    font-size        : $font-size-base;
    font-family      : $font-family-base;
    margin           : 0;
}
#page {
    display        : flex;
    min-height     : 100vh;
    flex-direction : column;
}
.page {
    flex        : 1;
    padding-top : 1rem;
    margin      : 55px 0 1rem;
    min-height  : 320px;
}
header {
    position         : fixed;
    background-color : $black;
    color            : $white;
    padding          : .4rem 1rem;
    top              : 0;
    width            : 100%;
    margin           : 0;
    border-bottom    : $red 2px solid;
}

h1, h2, h3, h4, h5 {
    font-family : $font-family-head;
    font-weight : 400;
}

a {
    color           : $red;
    text-decoration : none;
    &:hover, &:focus, &:active {
        text-decoration : underline;
    }
}

main {
    margin  : 0 0 1rem;
    padding : 0 1rem;
}

.page-content {
    @media (min-width: 992px) {
        max-width  : 992px;
        margin : 0 auto 1rem;
    }
}
