.timecode {
    font-size        : 44px;
    font-family      : $font-family-mono;
    color            : $red;
    width            : 100%;
    text-align       : left;
    padding-top      : .4rem;

    .active {
        color : $white;
    }
    a {
        display : none;
    }
}
.admin .timecode a {
    display         : inline;
    float           : right;
    color           : $red;
    text-decoration : none;
    margin          : .15rem 1.4rem 0 0;
}
